body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

header {
  background-color: white;
  color: black;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 30px;
  margin-left: 800px;
  margin-right:10px;
  font-weight: bold;
}

nav li {
  display: inline-block;
  
  margin-right: 80px;
  color: black;
  
}

main {
  padding: 2rem;
}

footer {
  background-color:#C7372F;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.container {
  display: flex;
  height: 100vh; 
  margin-bottom: 600px;
}
.text {
  flex:1;
  font-size: 40px;
  
  margin-left: 100px;
  /* Include padding in the calculated width */
}

.image {
  flex:1;
  padding: 20px;
  margin-left: 60px;
  margin-top: 80px;/* Include padding in the calculated width */
}
p.tagline {
  font-size: 25px;
  font-weight: bold;
  margin-right: 160px;
  margin-top: 0;
  margin: 0;
  padding: 0;
}